/*
 * jQuery FlexSlider v2.4.0
 * http://www.woothemes.com/flexslider/
 *
 * Copyright 2012 WooThemes
 * Free to use under the GPLv2 and later license.
 * http://www.gnu.org/licenses/gpl-2.0.html
 *
 * Contributing author: Tyler Smith (@mbmufffin)
 * 
 */
/* ====================================================================================================================
 * RESETS
 * ====================================================================================================================*/
.flex-container a:hover,
.flex-slider a:hover,
.flex-container a:focus,
.flex-slider a:focus { outline: none; }

.slides,
.slides > li,
.flex-control-nav,
.flex-direction-nav {
    list-style: none;
    margin: 0;
    padding: 0;
}

.flex-pauseplay span { text-transform: capitalize; }

/* ====================================================================================================================
 * BASE STYLES
 * ====================================================================================================================*/

.flexslider {
    margin: 0;
    padding: 0;
}

.flexslider .slides > li {
    -webkit-backface-visibility: hidden;
    display: none;
}

.flexslider .slides img {
    display: block;
    width: 100%;
}

.flexslider .slides:after {
    clear: both;
    content: "\0020";
    display: block;
    height: 0;
    line-height: 0;
    visibility: hidden;
}

html[xmlns] .flexslider .slides { display: block; }

* html .flexslider .slides { height: 1%; }

.no-js .flexslider .slides > li:first-child { display: block; }

/* ====================================================================================================================
 * DEFAULT THEME
 * ====================================================================================================================*/

.flexslider {
    -moz-border-radius: 4px;
    -moz-box-shadow: '' 0 1px 4px rgba(0, 0, 0, 0.2);
    -o-box-shadow: '' 0 1px 4px rgba(0, 0, 0, 0.2);
    -webkit-border-radius: 4px;
    -webkit-box-shadow: '' 0 1px 4px rgba(0, 0, 0, 0.2);
    background: #ffffff;
    border: 4px solid #ffffff;
    border-radius: 4px;
    box-shadow: '' 0 1px 4px rgba(0, 0, 0, 0.2);
    margin: 0 0 20px;
    position: relative;
    zoom: 1;
}

.flexslider .slides { zoom: 1; }

.flexslider .slides img { height: auto; }

.flex-viewport {
    -moz-transition: all 1s ease;
    -ms-transition: all 1s ease;
    -o-transition: all 1s ease;
    -webkit-transition: all 1s ease;
    max-height: 2000px;
    transition: all 1s ease;
}

.loading .flex-viewport { max-height: 300px; }

.carousel li { margin-right: 5px; }

.flex-direction-nav { *height: 0; }

.flex-direction-nav a {
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    cursor: pointer;
    display: block;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    text-decoration: none;
    top: 50%;
    transition: all 0.3s ease-in-out;
    height: 31px;
    width: 21px;
    z-index: 10;
}

.flex-direction-nav a:before {
    content: url(../../Resource/Common/button-previous.png);
    display: inline-block;
}

.flex-direction-nav a.flex-next:before { content: url(../../Resource/Common/button-next.png); }

.flex-direction-nav .flex-prev { left: -50px; }

.flex-direction-nav .flex-next {
    right: -50px;
    text-align: right;
}

.flexslider:hover .flex-direction-nav .flex-prev {
    left: 10px;
    opacity: 0.7;
}

.flexslider:hover .flex-direction-nav .flex-prev:hover { opacity: 1; }

.flexslider:hover .flex-direction-nav .flex-next {
    opacity: 0.7;
    right: 10px;
}

.flexslider:hover .flex-direction-nav .flex-next:hover { opacity: 1; }

.flex-direction-nav .flex-disabled {
    cursor: default;
    filter: alpha(opacity=0);
    opacity: 0 !important;
}

.flex-pauseplay a {
    bottom: 5px;
    color: #000;
    cursor: pointer;
    display: block;
    height: 20px;
    left: 10px;
    opacity: 0.8;
    overflow: hidden;
    position: absolute;
    width: 20px;
    z-index: 10;
}

.flex-pauseplay a:before {
    content: '\f004';
    display: inline-block;
    font-family: "flexslider-icon";
    font-size: 20px;
}

.flex-pauseplay a:hover { opacity: 1; }

.flex-pauseplay a .flex-play:before { content: '\f003'; }

.flex-control-nav {
    /*bottom: -40px;*/
    bottom: 0px;
    position: absolute;
    text-align: center;
    /*width: 100%;*/
    z-index: 10;
    right: 10px;
}

.flex-control-nav li {
    display: inline-block;
    display: inline-block;
    margin: 0 6px;
    zoom: 1;
}

.flex-control-paging li a {
    -moz-border-radius: 20px;
    -moz-box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.3);
    -o-box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.3);
    -webkit-border-radius: 2px;
    -webkit-box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.3);
    background: #666;
    background: #ffffff;
    border-radius: 2px;
    box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.3);
    cursor: pointer;
    display: block;
    height: 13px;
    text-indent: -9999px;
    width: 13px;
}

.flex-control-paging li a:hover {
    background: #EC1C24;
   /* background: rgba(0, 0, 0, 0.7);*/
}

.flex-control-paging li a.flex-active {
    background: #EC1C24;
   /* background: rgba(0, 0, 0, 0.9);*/
    cursor: default;
}

.flex-control-thumbs {
    margin: 5px 0 0;
    overflow: hidden;
    position: static;
}

.flex-control-thumbs li {
    float: left;
    margin: 0;
    width: 25%;
}

.flex-control-thumbs img {
    -moz-transition: all 1s ease;
    -ms-transition: all 1s ease;
    -o-transition: all 1s ease;
    -webkit-transition: all 1s ease;
    cursor: pointer;
    display: block;
    height: auto;
    opacity: .7;
    transition: all 1s ease;
    width: 100%;
}

.flex-control-thumbs img:hover { opacity: 1; }

.flex-control-thumbs .flex-active {
    cursor: default;
    opacity: 1;
}

/* ====================================================================================================================
 * RESPONSIVE
 * ====================================================================================================================*/

@media screen and (max-width: 860px) {
    .flex-direction-nav .flex-prev {
        left: 10px;
        opacity: 1;
    }

    .flex-direction-nav .flex-next {
        opacity: 1;
        right: 10px;
    }
}