<?xml version="1.0"?>

<nUrlRewriter xmlns="http://schemas.sanibellogic.com/nUrlRewriter/config/2/0/0/0"
              enabled="true"
              trace="false">
  
  <topLevelExtensions>
    <clear />
    <add extension="asp" />
    <add extension="aspx" />
    <add extension="htm" />
    <add extension="html" />
    <add extension="php" />
    <add extension="txt"/>
  </topLevelExtensions>
  
  <urls>
    <clear/>
    <!-- Rewrite default.aspx -->
    <add name="Rule1"
         action="rewrite"
         from="~/Customized-Software-Development.aspx"
         to="~/Default.aspx" />

    <add name="Rule2"
         action="rewrite"
         from="~/Products/Vintage-Email-Sender.aspx"
         to="~/Products.aspx?product_id=14&amp;tag=Product" />

    <add name="Rule3"
         action="rewrite"
         from="~/Products/Vintage-Article-Collector-Composer.aspx"
         to="~/Products.aspx?product_id=106&amp;tag=Product" />

    <add name="Rule4"
         action="rewrite"
         from="~/Products/Vintage-Education-Collaboration-System.aspx"
         to="~/Products.aspx?product_id=107&amp;tag=Product" />

    <add name="Rule5"
         action="rewrite"
         from="~/Products/Vintage-Inventory-Management-System.aspx"
         to="~/Products.aspx?product_id=108&amp;tag=Product" />

    <add name="Rule6"
         action="rewrite"
         from="~/Products/Vintage-Forex-Trader.aspx"
         to="~/Products.aspx?product_id=111&amp;tag=Product" />

    <add name="Rule7"
         action="rewrite"
         from="~/Products/Vintage-T-Shirt-Design-Tools.aspx"
         to="~/Products.aspx?product_id=3&amp;tag=Product" />

    <add name="Rule8"
         action="rewrite"
         from="~/Products/Vintage-Human-Resource-Management.aspx"
         to="~/Products.aspx?product_id=115&amp;tag=Project" />

    <add name="Rule9"
         action="rewrite"
         from="~/Products/Vintage-Project-Tracker.aspx"
         to="~/Products.aspx?product_id=116&amp;tag=Project" />

    <add name="Rule10"
         action="rewrite"
         from="~/Products/Vintage-Online-Vedio-Course.aspx"
         to="~/Products.aspx?product_id=118&amp;tag=Project" />

    <add name="Rule11"
         action="rewrite"
         from="~/Know-VintageIT.aspx"
         to="~/AboutUs.aspx" />

    <add name="Rule12"
         action="rewrite"
         from="~/Contact-VintageIT.aspx"
         to="~/ContactUs.aspx" />

    <add name="Rule13"
         action="rewrite"
         from="~/All-Products.aspx"
         to="~/Products.aspx?tag=Product" />

    <add name="Rule14"
         action="rewrite"
         from="~/All-Projects.aspx"
         to="~/Products.aspx?tag=Project" />

    <add name="Rule15"
         action="rewrite"
         from="~/Services/Software-Development.aspx"
         to="~/Pages/Services/SoftwareDevelopment.aspx" />

    <add name="Rule16"
         action="rewrite"
         from="~/Services/Website-Design.aspx"
         to="~/Pages/Services/WebDesign.aspx" />

    <add name="Rule17"
         action="rewrite"
         from="~/Services/Html-Template.aspx"
         to="~/Pages/Services/HtmlTemplate.aspx" />

    <add name="Rule18"
         action="rewrite"
         from="~/Services/Hosting.aspx"
         to="~/Pages/Services/Hosting.aspx" />

    <add name="Rule19"
         action="rewrite"
         from="~/Services/Photo-Retuching.aspx"
         to="~/Pages/Services/PhotoRetuching.aspx" />

    <add name="Rule20"
         action="rewrite"
         from="~/Services/Professional-SEO-Services.aspx"
         to="~/Pages/Services/ProfessionalSEOServices.aspx" />

    <add name="Rule21"
         action="rewrite"
         from="~/Services/SMS-Marketing.aspx"
         to="~/Pages/Services/SMSMarketing.aspx" />

    <add name="Rule22"
         action="rewrite"
         from="~/Services/Email-Marketing.aspx"
         to="~/Pages/Services/EmailMarketing.aspx" />

    <add name="Rule23"
         action="rewrite"
         from="~/Career/CurrentOpenings.aspx"
         to="~/Pages/Career/CurrentOpenings.aspx" />

    <add name="Rule24"
         action="rewrite"
         from="~/Portals/BDMatez.aspx"
         to="~/Products.aspx?product_id=13&amp;tag=Portal" />

    <add name="Rule25"
         action="rewrite"
         from="~/Portals/BDAdlist.aspx"
         to="~/Products.aspx?product_id=105&amp;tag=Portal" />

    <add name="Rule26"
        action="rewrite"
        from="~/Portals/BDJobMart.aspx"
        to="~/Products.aspx?product_id=113&amp;tag=Portal" />


    <add name="Rule27"
         action="rewrite"
         from="~/All-Portals.aspx"
         to="~/Products.aspx?tag=Portal" />


  </urls>
</nUrlRewriter>