
fieldset { margin-bottom: 5px;}
legend { font-weight:bold; font-size:9pt; color: #0053A5;}
body
{
    width: 650px;
	margin: 0px;
	background-color: White;
	color: #000000;
	font-family: tahoma,arial,verdana,helvetica;
	font-size: 10pt;
	background-image: none;
}



.SectionTitle
{
	font-family:verdana,tahoma,helvetica,arial; 
    color: #000000;
    font-size: 12px;
    font-weight:normal;
    text-align:left;
    font-weight:bold;
}
.BoxTitle
{
    background-color:#461379;
    text-align:left;
    color: #ffffff;
    font-size: 13px;
    font-weight: bold;
    
}

.HorBlanktd
{
	width:7px;
}

.VerBlanktd
{
	height:5px;
}

.headerTable
{
	width: 1004px;	
	height:154px;
	background-color: #ffffff;
	border:solid 1px #9c8550;
}
.headerTableLefttd
{
	height:154px;	
	background-color:#C0A466;
}
.headerTableRighttd
{
	width: 870px;
	height:154px;
	background-color:#C0A466;
	font-family: tahoma,arial,verdana,helvetica;
	font-size: 14pt;
    font-weight: bold;
    padding-right:0px;
    text-align:right;
}

.ProjectSlogan
{
	vertical-align:top;
    padding-top:10px;
}

.ProjectTitle
{
	padding-top: 40px; 
	text-align: left;
}

.ContentTable2
{
    
	width:100%;
	padding:4px 4px 4px 4px;
	border: none;
}

.Menutd
{
	height:30px;
	width:1004px;
	vertical-align:bottom;
	padding-left:5px;
	padding-bottom:0px;
}
.Contenttd
{
	width:1004px;
	background-color: #ffffff;
	vertical-align:top;
}
.ContentFooterTable
{
	width:1004px;
	text-align:center;
}
.adminTable {
  width: 100%;  
  font-size: .9em;
}

.adminTable th {
  background-color: #461379;
  color: #FFF;
}

.adminTable th a {
  color: #FFF;  
}

.adminTable td {
  border: 1px solid #CCC;  
}

.adminTableHeader {
  background-color: #a79175;
  color: #FFF; 
  font-weight: bold;
}
#headerRegion
{
	margin-bottom: 0px;
}

#mainContentRegion
{
	display: block;
	clear: both;
}

.defaultTable
{
	width: 100%;
}

hr
{
	border-bottom: none;
	color: Black;
	height: 1px;
}

a:link
{
	color:black;
	text-decoration: none;
}
a:activate
{
	color:black;
	text-decoration: none;
}
a:visited, a:link:visited
{
	color:black;
	text-decoration: none;
	font-weight: normal;
}
a:hover
{
	color:Red;
}

.Tree a:visited
{
    color: black;
    font-weight: normal;
}

.footer
{
	background-color: #221409;
}

.Header
{
	background-color: #221409;
}

.footer a
{
	text-decoration: none;
	color: #49372c;
}

.footer a:visited
{
	color: #49372c;
}

.footer a:hover
{
	color: #fff;
}

.Copywrite
{
	vertical-align: top;
	
	color: #49372c;
	text-align: center;
	font-size: 9px;
	font-weight: normal;
	text-transform: uppercase;
	letter-spacing: 1.5px;
	padding-top:8px;
}
.visoft__tab_xpie7 .ajax__tab_body { 
     font-family:verdana,tahoma,helvetica,arial; 
     font-size:8pt;
     border:1px solid #999999;
     border-top:0;
     padding:8px;
     background-color:#ffffff;
}
.tabPanelLabel
{
	font-family:verdana,tahoma,helvetica,arial;
    font-size:8pt;
} 
.tabPanelTextBox
{
	width:170px;
	font-family:verdana,tahoma,helvetica,arial;
    font-size:8pt;
    text-align:left;
}
.tabPanelMidLengthTextBox
{
	font-family:verdana,tahoma,helvetica,arial; 
    font-size:8pt;
    text-align:left;
}
.tabPanelFullLengthTextBox
{
	font-family:verdana,tahoma,helvetica,arial; 
    font-size:8pt;
    text-align:left;    
}
.FooterLine
{
	height:1px;
	background-color:#C0A466;	
}

.ReportDiv
{
	overflow:auto;
}

.LoginTitle
{
	background-color:#461379;
	font-family:verdana,tahoma,helvetica,arial; 
	font-size:9pt;
	font-weight:bold;
	color:#FFFFFF;
}

.GridCellStyle
{
	font-family:verdana,tahoma,helvetica,arial; 
	font-size:8pt;
	padding:4px 4px 4px 4px;
}

.GridCellStyle a, .GridCellStyle a:visited
{
    font-family:verdana,tahoma,helvetica,arial; 
    color: Black;
    font-weight: normal;
    font-size: 9pt;
}

.TextAlignMiddle
{
	vertical-align:middle;
}

.SampleMenu
{
	background-color:#49372c;
}
.SampleMenu a
{
	text-align:center;
	font-weight:bold;
	padding-bottom:0px;
    color:White;
}

.SampleMenu a:hover
{
    color:White;
}

.SampleMenu a:visited
{
    color:White;
}

.SampleSiteMap a
{
	text-decoration:none;
	color:Black;
}

.SampleSiteMap a:hover
{
    text-decoration:underline;
	color:White;
}

.SampleSiteMap a:visited
{
	text-decoration:none;
	color:Black;
}

.labelTerrInfo
{
	font-family:verdana,tahoma,helvetica,arial;
    font-size:9pt;
    font-weight:bold;
	color:Black;
	text-align:center;
	padding-right:5px;
}
.labelMessage
{
	font-family:verdana,tahoma,helvetica,arial;
    font-size:8pt;
	color:Red;
	text-align:center;
}
.terrInfoLabelMessage
{
	font-family:verdana,tahoma,helvetica,arial;
    font-size:8pt;
	color:Red;
	text-align:left;
}
.GeneraltdLabel
{	
	font-family:verdana,tahoma,helvetica,arial;
    font-size:8pt;
    text-align:left;
}
.GeneraltdText
{
	width:350px;
	font-family:verdana,tahoma,helvetica,arial; 
    font-size:8pt;
    text-align:left;
}

.Button
{
	cursor:hand;
	height: 20px;
}

.hlkButton, .hlkButton:hover, .hlkButton:visited
{
	cursor:hand;
	padding:1px 8px 1px 8px;
	font-weight:normal;
	
}

.More
{
	text-align:right;
}

.More a, a:visited
{
	color:#461379;
	font-family:verdana,tahoma,helvetica,arial; 
	font-size:10pt;
	font-weight:bold;
	text-decoration:none;
}

.More a:hover
{
	text-decoration:underline;
}

.Links
{
	color:#461379;
	font-family:verdana,tahoma,helvetica,arial; 
	font-size:10pt;
	text-decoration:none;
	font-weight:normal;
}

.Links a:hover
{
	text-decoration:underline;
}


.DynamicMenuStyle
{
	z-index: 100;
}

.Astertic
{
	color:Red;
	font-weight:bold;
}

.msgConfirmation
{
	color:Blue;
}

.msgError
{
	color:Red;
}

.msgInformation
{
	color:Green;
}

.msgWarning
{
	color:Blue;
}

.Suspicious
{
    background-color: White;
}


.PopUpDivShow
{
	visibility:visible;
	position:fixed;
	bottom:50%;
	left:50%;
	margin-left:-100px;
}
.PopUpDivHide
{
	visibility:hidden;
	position:fixed;
	bottom:50%;
	left:50%;
	margin-left:-100px;
}

.PopUpFormHeaderLeft
{
	padding:2px 0px 2px 5px;
	background-color:#3f7fb0;
	font-family:Verdana;
	font-size:9pt;
	color:#ffffff;
	font-weight:bold;
	text-align:left;
}
.PopUpFormHeaderRight
{
	padding:2px 5px 2px 5px;
	background-color:#3f7fb0;
	font-family:Verdana;
	font-size:9pt;
	color:#ffffff;
	font-weight:bold;
	text-align:right;
}

.PopUpFormBody
{
	border:solid 1px #a9a9a9;
	background-color:#ffffff;
	padding:10px;
	font-family:Verdana;
	font-size:9pt;
	width:300px;
}


.Vacant , .Allocated, .Booked, .Movement, .Extended, .Shifted, .Leaved, .Canceled
{
    background-image:none;
	vertical-align:middle; 
	color: Black;
}

.FilterPanel
{
    background-color: White;
}

.outerBorder{
    border-bottom:1px dotted;
    border-top:1px dotted;
    border-left:1px dotted;
    border-right:1px dotted;
}
.dottedBorder{
    border-top:1px dotted;
  margin-top:5px;
  
}
.width100{
    width:100px;
}
.margin5px{
    margin-top:5px;
    margin-bottom:5px;
}
.height5px{
    height:5px;
}
.width130px{
    width:130px;
}

.width160px{
    width:160px;
}

.width180px{
    width:180px;
}