<?xml version="1.0"?>
<configuration xmlns="http://schemas.microsoft.com/.NetConfiguration/v2.0">
	<configSections>
		<sectionGroup name="elmah">
			<section name="security" requirePermission="false" type="Elmah.SecuritySectionHandler, Elmah"/>
			<section name="errorLog" requirePermission="false" type="Elmah.ErrorLogSectionHandler, Elmah"/>
			<section name="errorFilter" requirePermission="false" type="Elmah.ErrorFilterSectionHandler, Elmah"/>
		</sectionGroup>
		<section name="nUrlRewriter" restartOnExternalChanges="true" type="nUrlRewriter.Configuration2.Configuration, nUrlRewriter, Version=2.0.0.0, Culture=neutral, PublicKeyToken=741b921e11e02781"/>
		<section name="cachingConfiguration" type="Microsoft.Practices.EnterpriseLibrary.Caching.Configuration.CacheManagerSettings, Microsoft.Practices.EnterpriseLibrary.Caching, Version=4.1.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"/>
	</configSections>
	<elmah>
		<security allowRemoteAccess="1"/>
		<errorLog type="Elmah.SqlErrorLog, Elmah" connectionStringName="LocalSqlServer"/>
	</elmah>
	<location path="elmah.axd">
		<system.web>
			<authorization>
				<allow roles="Admin"/>
				<deny users="*"/>
			</authorization>
		</system.web>
	</location>
	<location path="CaptchaImage.axd">
		<!--Required if Forms Authentication is used.-->
		<system.web>
			<authorization>
				<allow users="*"/>
			</authorization>
		</system.web>
	</location>
	<cachingConfiguration defaultCacheManager="Cache Manager">
		<cacheManagers>
			<add expirationPollFrequencyInSeconds="60" maximumElementsInCacheBeforeScavenging="1000" numberToRemoveWhenScavenging="10" backingStoreName="Null Storage" type="Microsoft.Practices.EnterpriseLibrary.Caching.CacheManager, Microsoft.Practices.EnterpriseLibrary.Caching, Version=4.1.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" name="CacheCareer"/>
			<add expirationPollFrequencyInSeconds="60" maximumElementsInCacheBeforeScavenging="1000" numberToRemoveWhenScavenging="10" backingStoreName="Null Storage" type="Microsoft.Practices.EnterpriseLibrary.Caching.CacheManager, Microsoft.Practices.EnterpriseLibrary.Caching, Version=4.1.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" name="CachePhotograph"/>
			<add expirationPollFrequencyInSeconds="60" maximumElementsInCacheBeforeScavenging="1000" numberToRemoveWhenScavenging="10" backingStoreName="Null Storage" type="Microsoft.Practices.EnterpriseLibrary.Caching.CacheManager, Microsoft.Practices.EnterpriseLibrary.Caching, Version=4.1.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" name="CacheProduct"/>
			<add expirationPollFrequencyInSeconds="60" maximumElementsInCacheBeforeScavenging="1000" numberToRemoveWhenScavenging="10" backingStoreName="Null Storage" type="Microsoft.Practices.EnterpriseLibrary.Caching.CacheManager, Microsoft.Practices.EnterpriseLibrary.Caching, Version=4.1.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" name="CacheSEO"/>
			<add expirationPollFrequencyInSeconds="60" maximumElementsInCacheBeforeScavenging="1000" numberToRemoveWhenScavenging="10" backingStoreName="Null Storage" type="Microsoft.Practices.EnterpriseLibrary.Caching.CacheManager, Microsoft.Practices.EnterpriseLibrary.Caching, Version=4.1.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" name="CacheContent"/>
			<add expirationPollFrequencyInSeconds="60" maximumElementsInCacheBeforeScavenging="1000" numberToRemoveWhenScavenging="10" backingStoreName="Null Storage" type="Microsoft.Practices.EnterpriseLibrary.Caching.CacheManager, Microsoft.Practices.EnterpriseLibrary.Caching, Version=4.1.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" name="CacheMember"/>
			<add expirationPollFrequencyInSeconds="60" maximumElementsInCacheBeforeScavenging="1000" numberToRemoveWhenScavenging="10" backingStoreName="Null Storage" type="Microsoft.Practices.EnterpriseLibrary.Caching.CacheManager, Microsoft.Practices.EnterpriseLibrary.Caching, Version=4.1.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" name="CacheCandidate"/>
			<add expirationPollFrequencyInSeconds="60" maximumElementsInCacheBeforeScavenging="1000" numberToRemoveWhenScavenging="10" backingStoreName="Null Storage" type="Microsoft.Practices.EnterpriseLibrary.Caching.CacheManager, Microsoft.Practices.EnterpriseLibrary.Caching, Version=4.1.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" name="CacheUpdate"/>
		</cacheManagers>
		<backingStores>
			<add encryptionProviderName="" type="Microsoft.Practices.EnterpriseLibrary.Caching.BackingStoreImplementations.NullBackingStore, Microsoft.Practices.EnterpriseLibrary.Caching, Version=4.1.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" name="Null Storage"/>
		</backingStores>
	</cachingConfiguration>
	<nUrlRewriter configSource="Config\nUrlRewriter.config"/>
	<connectionStrings>
		<remove name="LocalSqlServer"/>
		<add name="LocalSqlServer" connectionString="Data Source=Shahjalal\SQLEXPRESS;Initial Catalog=ITCareer;Integrated Security=false; user id=sa; password=sa2009" providerName="System.Data.SqlClient"/>

	</connectionStrings>
	<location allowOverride="true" inheritInChildApplications="true">
		<appSettings>
			<add key="LogFile" value="c:\Log\Log.txt"/>
			<add key="LogMedia" value="File"/>
			<add key="ApplicationName" value="product"/>
			<add key="ConnectionString" value="Data Source=Shahjalal\SQLEXPRESS;Initial Catalog=ITCareer;Integrated Security=false; user id=sa; password=sa2009"/>
			<add key="Provider" value="SQLServer"/>
			<add key="MailReceiver" value="info@vintageitltd.com"/>
			<add key="MailSender" value="postmaster@vintageitltd.com"/>
			<add key="MailSenderName" value="Vintage IT"/>
			<add key="MailSenderPWD" value="7fc7j37e"/>
			<add key="SendEmail" value="true"/>
			<add key="ResetSettingsToDefault" value="false"/>
			<add key="MaxUploadFileSize" value="150"/>
			<add key="GridViewPageSize" value="25"/>
		</appSettings>
	</location>
	<system.web>
		<authorization>
			<allow roles="Admin"/>
			<deny roles="Admin"/>
		</authorization>
		<globalization uiCulture="en-US"/>
		<httpHandlers>
			<add verb="POST,GET,HEAD" path="elmah.axd" type="Elmah.ErrorLogPageFactory, Elmah"/>
			<add verb="GET" path="CaptchaImage.axd" type="MSCaptcha.CaptchaImageHandler, MSCaptcha"/>
		</httpHandlers>
		<httpModules>
			<add name="nUrlRewriter" type="nUrlRewriter.HttpModule, nUrlRewriter, Version=2.0.0.0, Culture=neutral, PublicKeyToken=741b921e11e02781"/>
			<add name="ErrorLog" type="Elmah.ErrorLogModule, Elmah"/>
			<add name="ForumSEOHttpModule" type="aspnetforum.ForumSEOHttpModule, aspnetforum"/>
		</httpModules>
		<customErrors defaultRedirect="~/ErrorPages/Oops.aspx" mode="Off">
			<error statusCode="403" redirect="~/ErrorPages/403.aspx"/>
			<error statusCode="404" redirect="~/ErrorPages/404.aspx"/>
			<error statusCode="408" redirect="~/ErrorPages/408.aspx"/>
			<error statusCode="500" redirect="~/ErrorPages/500.aspx"/>
			<error statusCode="503" redirect="~/ErrorPages/503.aspx"/>
		</customErrors>
		<pages theme="Default" styleSheetTheme="Default" maintainScrollPositionOnPostBack="true" controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID">
			<controls>
				<add namespace="AjaxControlToolkit" assembly="AjaxControlToolkit" tagPrefix="ajaxToolkit"/>
			</controls>
		</pages>
		<roleManager enabled="true">
			<providers>
				<remove name="AspNetSqlRoleProvider"/>
				<add connectionStringName="LocalSqlServer" applicationName="product" name="AspNetSqlRoleProvider" type="System.Web.Security.SqlRoleProvider, System.Web, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a"/>
			</providers>
		</roleManager>
		<membership>
			<providers>
				<remove name="AspNetSqlMembershipProvider"/>
				<add name="AspNetSqlMembershipProvider" type="System.Web.Security.SqlMembershipProvider, System.Web, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" connectionStringName="LocalSqlServer" enablePasswordRetrieval="false" enablePasswordReset="true" requiresQuestionAndAnswer="false" applicationName="product" requiresUniqueEmail="false" minRequiredPasswordLength="5" minRequiredNonalphanumericCharacters="0" passwordFormat="Hashed" maxInvalidPasswordAttempts="1000" passwordAttemptWindow="10" passwordStrengthRegularExpression=""/>
			</providers>
		</membership>
		<compilation debug="true" targetFramework="4.0">
			<assemblies>
				<add assembly="System.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
				<add assembly="System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
				<add assembly="System.Data, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
				<add assembly="System.Web, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
				<add assembly="System.Drawing, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
				<add assembly="System.Configuration, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
				<add assembly="System.Xml, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
				<add assembly="System.Configuration.Install, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
				<add assembly="System.Transactions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
			</assemblies>
		</compilation>
		<authentication mode="Forms">
			<forms name="ASPXCOOKIE" loginUrl="Login.aspx"/>
		</authentication>
	</system.web>
	<system.net>
		<mailSettings>
			<smtp>
				<network host="smtp.live.com" port="587" enableSsl="true" userName="postmaster@vintageitltd.com" password="7fc7j37e"/>
			</smtp>
		</mailSettings>
	</system.net>
	<system.webServer>
		<validation validateIntegratedModeConfiguration="false"/>
		<modules>
			<add name="Elmah.ErrorLog" type="Elmah.ErrorLogModule, Elmah" preCondition="managedHandler"/>
			<add name="nUrlRewriter" type="nUrlRewriter.HttpModule, nUrlRewriter, Version=2.0.0.0, Culture=neutral, PublicKeyToken=741b921e11e02781"/>
			<add type="aspnetforum.ForumSEOHttpModule, aspnetforum" name="ForumSEOHttpModule"/>
		</modules>
		<handlers>
			<add name="Elmah" path="elmah.axd" verb="POST,GET,HEAD" type="Elmah.ErrorLogPageFactory, Elmah" preCondition="integratedMode"/>
			<add name="MSCaptcha" verb="GET" path="CaptchaImage.axd" type="MSCaptcha.CaptchaImageHandler, MSCaptcha"/>
		</handlers>
	</system.webServer>
</configuration>
